@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #434750;
}
ul{
    position: relative;
    transform: skewY(-15deg);
}
ul li{
    position: relative;
    list-style: none;
    width: 120px;
    background-color: #3e3f46;
    padding: 15px;
    transition: .5s;
    z-index: calc(1 * var(--i));
}
ul li:hover{
    transform: translateX(-50px);
}
#facebook:hover{
    background-color: #1877f2;
}
#watsapp:hover{
    background-color: #25d366;
}
#snapchat:hover{
    background-color: #fffb00;
}
#tiktok:hover{
    background-color: #69c9d0;
}
#twitter:hover{
    background-color: #0a66c2;
}
#youtube:hover{
    background-color: #ff0000;
}
ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background-color: #3e3f46;
    filter: brightness(.7);
    transform-origin: right;
    transform: skewY(45deg);
    transition: .5s;
}
ul li a{
    text-decoration: none;
    color: #aaa;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.0;
    letter-spacing: .5px;
    transition: .2s;
}
#facebook:hover::before{
    background-color: #1877f2;
    filter: brightness(.7);
}
#watsapp:hover::before{
    background-color: #25d366;
    filter: brightness(.7);
}
#snapchat:hover::before{
    background-color: #fffb00;
    filter: brightness(.7);
}
#tiktok:hover::before{
    background-color: #69c9d0;
    filter: brightness(.7);
}
#twitter:hover::before{
    background-color: #0a66c2;
    filter: brightness(.7);
}
#youtube:hover::before{
    background-color: #ff0000;
    filter: brightness(.7);
}
ul li::after{
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #3e2f46;
    filter: brightness(.9);
    transform-origin: bottom;
    transform: skewX(45deg);
}
#facebook:hover::after{
    background-color: #1877f2;
    filter: brightness(.9);
}
#watsapp:hover::after{
    background-color: #25d366;
    filter: brightness(.9);
}
#snapchat:hover::after{
    background-color: #fffb00;
    filter: brightness(.9);
}
#tiktok:hover::after{
    background-color: #69c9d0;
    filter: brightness(.9);
}
#twitter:hover::after{
    background-color: #0a66c2;
    filter: brightness(.9);
}
#youtube:hover::after{
    background-color: #ff0000;
    filter: brightness(.9);
}
ul li a:hover{
    color: #fff;
}
ul li:last-child::after{
    box-shadow: -120px 120px 20px rgba(0, 0, 0, .25);
}
ul li span{
    content: '';
    position: absolute;
    top: 0;
    font-size: 28px;
    left: -40px;
    width: 40px;
    height: 100%;
    transform-origin: right;
    transform: skewY(45deg);
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
}
ul li:hover span{
    opacity: 1;
}